.banner2{
    display: flex;
    justify-content: center;
}
.banner2Image{
    /* width: 50%; */
    /* border: 1px solid black; */
}
.banner2Image img{
    object-fit: contain;
    width: 800px;
}
.banner2Description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.details h2{
    font-size: 32px;
    color:#4619D9;
    margin-bottom: 10px;
}
.details p{
    font-size: 14px;
    color: rgb(121, 121, 121);
}

@media screen and (max-width:1000px) {
    .banner2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner2Description{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}