*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.backGroundImage{
  width: 80%;
  position: absolute;
  top: 0;
  height:100%;
  right: 0;
  z-index: -1;
  object-fit: cover;
  overflow: visible;
}
.appTop{
  position: relative;
}
.appBetween{
    /* border: 1px solid black; */
    padding-right: 40px;
}